@import "./mixins.scss";
$max-mobile-footer: 800px;

.footer {
  @include flex(column, center, center);
  gap: 30px;
  padding: 30px 70px;
  background: var(--dark-gray);
  @media screen and (max-width: $max-mobile-footer) {
    padding: 20px 50px;
  }
}

.infoBox {
  @include flex(column, space-between, center);
  width: 100%;
  text-align: center;
}

.infoContainer {
  @include flex(row, space-between, center);
  width: 100%;
  div:first-of-type p:first-of-type {
    font-weight: 600;
  }
  @media screen and (max-width: $max-mobile-footer) {
    flex-direction: column;
    gap: 14px;
  }
}

.freepikInfo {
  font-size: 12px;
  align-self: flex-end;
  @media screen and (max-width: $max-mobile-footer) {
    display: none;
  }
}
