@import "./mixins.scss";

.container {
  @include flex(row, space-between, center);
  height: 140px;
  padding: 0 70px;
  background: var(--white);
  @media screen and (max-width: 1250px) {
    padding: 0 30px;
  }
}

.logoContainer {
  @include flex(row, flex-start, center);
  gap: 40px;
  height: 100%;
  @media screen and (max-width: 717px) {
    gap: 20px;
  }
}

.textContainer {
  @include flex(column, center, flex-start);
  height: 100%;
  gap: 12px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 400;
  font-size: 20px;
  @media screen and (max-width: 717px) {
    font-size: 16px;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  @media screen and (max-width: 717px) {
    display: none;
  }
}

.secondarySubtitle {
  font-weight: 400;
  font-size: 16px;
}

.text {
  @media screen and (max-width: 717px) {
    display: none;
  }
}

.logo {
  width: 110px;
  height: 79px;
  cursor: pointer;
  @media screen and (max-width: 717px) {
    width: 76px;
    height: 54px;
  }
}

.nav {
  @include flex(row, flex-start, center);
  height: 100%;
  ul {
    @include flex(row, flex-start, center);
    gap: 100px;
    height: 100%;
    padding-bottom: 4px;
    @media screen and (max-width: 1250px) {
      gap: 35px;
    }
    @media screen and (max-width: 976px) {
      display: none;
    }
    li {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.capitalizeBold {
  font-weight: 600;
}

.hamburger {
  cursor: pointer;
  display: none;
  @media screen and (max-width: 976px) {
    display: block;
  }
}

.secondaryMobileContainer {
  @include flex(column, flex-start, center);
  gap: 10px;
  padding: 10px 30px;
  background-color: var(--dark-gray);
  text-align: center;
  display: none;
  @media screen and (max-width: 717px) {
    display: flex;
  }
}
