*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --light-gray: #d9d9d93b;
  --red: #ff0000;
  --dark-gray: #d9d9d9;
  --white: #fff;
  --firma-icon: #5c5c5c;
  width: 100%;
  padding: 0;
}

#root {
  padding: 0;
}

ul {
  list-style-type: none;
}

button,
input,
a {
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: var(--black);
  caret-color: transparent;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  font-weight: 600;
}
